<!doctype html>
<html ng-app="MathApp">
    <head>
        <meta charset="UTF-8">
        <title>Matildas matteträning</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
        <script src="mathapp.js"></script>
        <link href="mathapp.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div ng-controller="MathAppCtrl">
            <div>
                Plus: <input type="checkbox" checked ng-click="togglePlus()"></input>
                Minus: <input type="checkbox" ng-click="toggleMinus()"></input>
            </div>
            <div>
                <button ng-click="decreaseLevel()">-</button>
                Svårighetsgrad: {{getLevelString()}}
                <button ng-click="increaseLevel()">+</button>
            </div>
            <div class="bubble">
                <h2>{{message}}</h2>
                <h2>Vad är {{first}} {{sign}} {{second}}?</h2> 
            </div>	
            <form ng-submit="checkAnswer()">
                <input class="big" type="number" ng-model="givenAnswer" size="30" placeholder="skriv här">
                <input class="btn-primary big" type="submit" value="Klar!">
            </form>
            <div>
                <br />
                Antal rätt svar:
            </div>
            <div> 
                <span class="{{animationToggle}}">{{nrOfCorrectAnswers}}</span>
            </div>
        </div>
    </body>
</html>
